@model PymeTamFinal.Modelos.ModelosVista.ReciboViewModel
@{
    ViewBag.Title = "Factura";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recibo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-5">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>@Model.nombreEmpresa</h2>

                        <div class="row">
                            <div class="col-xs-4">
                                @Html.imagen(Model.logoEmpresa, null, 100, 100)
                            </div>
                            <div class="col-xs-6">
                                <p>@Model.razonSocialEmpresa</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3 style="text-align:center;">Orden #@Model.idOrden</h3>
        </div>
        <div class="row">
            <div class="alineaDerecha">
                <h4>@Model.fecha</h4>
            </div>
        </div>
        <div class="row">
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>
                            Cliente
                        </th>
                        <th>
                            Razón Social
                        </th>
                        <th>
                            Metodo de envio
                        </th>
                        <th>Forma de pago</th>
                        <th>
                            Fecha de transacción
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Model.cliente.nombre
                        </td>
                        <td>
                            @Model.cliente.razonSocial
                        </td>
                        <td>
                            @Model.orden.ordenNombreEnvio
                        </td>
                        <td>
                            @Model.orden.ordenTipoPago
                        </td>
                        <td>
                            @Model.orden.ordenFecha
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h3>
                    Dirección de envio @if (@Model.orden.enviarADirFac)
                    { <small>Envio a dirección de facturación</small> }
                </h3>
                @if (Model.orden.enviarADirFac)
                {
                    <p>@Model.orden.ordenPais</p>
                    <p>@Model.orden.ordenEstado</p>
                    <p>@Model.orden.ordenCiudad</p>
                    <p>@Model.orden.ordenDireccionFACLinea1</p>
                    <p>@Model.orden.ordenDireccionFACLinea2</p>
                    <p>@Model.orden.ordenCodigoPostal</p>
                }
                else
                {
                    <p>@Model.orden.ordenPais</p>
                    <p>@Model.orden.ordenEstado</p>
                    <p>@Model.orden.ordenCiudad</p>
                    <p>@Model.orden.ordenDireccionLinea1</p>
                    <p>@Model.orden.ordenDireccionLinea2</p>
                    <p>@Model.orden.ordenCodigoPostal</p>
                }
            </div>
        </div>
        <div class="row">
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Articulo #
                        </th>
                        <th>Descripción</th>
                        <th>
                            Precio unitario
                        </th>
                        <th>
                            Total
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.orden.ordenDetalle)
                    {
                        <tr>
                            <td>
                                @item.cantidad
                            </td>
                            <td>
                                @item.sku
                            </td>
                            <td>
                                @item.nombreProducto
                            </td>
                            <td>
                                @Html.formatoPrecio(item.precioUnitario)
                            </td>
                            <td>
                                @Html.formatoPrecio(item.total)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="alert alert-info">
                <h4>Este recibo fue generado el día @DateTime.Now</h4>
                <p>Para mas información ponerse en contacto al telefono: @Model.telefonoEmpresa</p>
                <p>ó al correo: @Model.emailEmpresa</p>
            </div>
        </div>
        <div class="row">
            <div class="alert alert-success">
                <h4 class="text-center">¡GRACIAS POR SU COMPRA!</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">

            </div>
            <div class="col-xs-6 text-center">
                <h4>@Model.razonSocialEmpresa</h4>
                <h5>
                    Dirección
                </h5>
                <p style="word-wrap:break-word;">@Model.direccionEmpresa</p>
            </div>
            <div class="col-xs-3">

            </div>
        </div>
    </div>

</body>
</html>
