@model PymeTamFinal.Modelos.ModelosAuxiliares.compraModel
@{
    ViewBag.Title = "Comprar";
    Layout = "~/Views/Shared/_LayoutTienda.cshtml";
}
@using (Html.BeginForm("Comprar","Comprar", new { Area="CheckOut" }))
{
    <section id="cart_items">
        <div class="container">
            @*<div class="breadcrumbs">
                <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Check out</li>
                </ol>
                </div>*@

            <div class="step-one">
                <h2 class="heading">Comprar</h2>
            </div>
            <div class="checkout-options">
                <h3>Usuario</h3>
                <br />
                @if (User.Identity.IsAuthenticated)
                {

                    <ul class="nav">
                        <li>
                            @User.Identity.Name
                        </li>
                        @*<li>
                            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-times"></i>Usar otra cuenta</a>
                            </li>*@
                        <li>
                            <a href="@Url.Action("CancelarCompra","Comprar", new { Area="CheckOut" })"><i class="fa fa-times"></i>Cancelar compra</a>
                        </li>
                    </ul>
                }
            </div><!--/checkout-options-->

            <div class="register-req">
                <p></p>
            </div><!--/register-req-->

            <div class="shopper-informations">
                <div class="row">
                    @*<div class="col-sm-3">
                        <div class="shopper-info">
                        <p>Shopper Information</p>
                        <form>
                        <input type="text" placeholder="Display Name">
                        <input type="text" placeholder="User Name">
                        <input type="password" placeholder="Password">
                        <input type="password" placeholder="Confirm password">
                        </form>
                        <a class="btn btn-primary" href="">Get Quotes</a>
                        <a class="btn btn-primary" href="">Continue</a>
                        </div>
                        </div>*@
                    <div class="col-sm-6 clearfix">

                        @{Html.RenderAction("MisDatos","Clientes", new { Area="" });}

                    </div>

                    <div class="col-sm-6">
                        <div class="order-message">
                            <p>Mas información</p>
                            @Html.TextAreaFor(a => a.detalles, new { rows = "16" })
                            <label>
                                Opciones
                            </label><br />
                            <label>@Html.EditorFor(a => a.enviarDireccionEnvio) Enviar a dirección de facturación</label>
                            <label>@Html.EditorFor(a => a.requiereFactura) Requiere factura</label>
                            
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Seleccionar metodo de envio</label>
                               @{Html.RenderAction("EnviosDisp");}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="display:none;" id="condiciones">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <hr />
                        <a class="btn btn-warning" href="@Url.Action("MisDatos", "Clientes", new { returnUrl = Url.Action("Resumen", "Comprar", new { cupon = ViewBag.cupon,Area="CheckOut" }).ToString(), Area="" })">Editar</a>
                    </div>
                </div>
            </div>
            <div class="review-payment">
                <h2>Resumen &amp; Pago</h2>
            </div>

            @{Html.RenderAction("CarritoDetalle","MiCarro", new { Area="" });}
            @{ Html.RenderAction("MetodosDisponibles", "Comprar", new { Area = "CheckOut" });}
            <div class="row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Confirmar compra</button>
                </div>
            </div>
        </div>
    </section>
                }

@section Scripts{

    <script>
        
        $("body").on("change", ".idPais", function () {
            var id = $(this).val();
            var $estados = $("#idEstado");
            $.get("/Clientes/cargaEstados/" + id, function (data) {
                $estados.empty();
                console.log(data);
                $.each(data, function (i, d) {
                    console.log(d);
                    $estados.append("<option value=" + d.idEstado + ">" + d.nombreEstado + "<option>");
                });
                //Limpia los valores vacios
                $("#idEstado option").filter(function () {
                    return !this.value || $.trim(this.value).length == 0;
                })
                .remove();
            });
        });
        $("body").on("change", ".idEnvio", function (d) {
            var $id = $(this).val();
            var $condiciones = $("#condiciones");
            $condiciones.load("/CheckOut/Comprar/Condiciones/" + $id, function () {
                $condiciones.fadeIn();
            }).error(function () {

            });
        });
    </script>
}