@model IEnumerable<PymeTamFinal.Modelos.ModelosDominio.Orden>
@{
    ViewBag.Title = "Pedidos";
    Layout = "~/Areas/Administrador/Views/Shared/_Layout.cshtml";
}
<div id="ribbon">

    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Esto borrara las configuraciónes de los widgets." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
    </span>

    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li>Inventario</li>
        <li>Pedidos</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- You can also add more buttons to the
    ribbon for further usability

    Example below:

    <span class="ribbon-button-alignment pull-right">
    <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
    <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
    </span> -->

</div>
<div id="content">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-comments"></i> Pedidos <span>> Mis Pedidos</span></h1>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <div class="row">
                <div id="content">
                    <div id="widget-grid" class="">

                        <div class="row">
                            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-pedidos" data-widget-editbutton="false">
                                    <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                                    <header>
                                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                        <h2>Pedidos </h2>

                                    </header>

                                    <!-- widget div-->
                                    <div>

                                        <!-- widget edit box -->
                                        <div class="jarviswidget-editbox">
                                            <!-- This area used as dropdown edit box -->

                                        </div>
                                        <!-- end widget edit box -->
                                        <!-- widget content -->

                                        <div class="widget-body no-padding">


                                            <table id="pedidos" class="table table-responsive table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            #Id
                                                        </th>
                                                        <th>
                                                            Cliente
                                                        </th>
                                                        <th>
                                                            Fecha
                                                        </th>
                                                        <th>
                                                            Hora
                                                        </th>
                                                        <th>
                                                            Monto MXN
                                                        </th>
                                                        <th>
                                                            Estado
                                                        </th>
                                                        <th>
                                                            Tipo de pago
                                                        </th>
                                                        <th>
                                                            Estado del pago
                                                        </th>
                                                        <th>Opciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @*@foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.idOrden
                                            </td>
                                            <td>
                                                @item.ordenNombre
                                            </td>
                                            <td>
                                                @item.ordenFecha.ToShortDateString()
                                            </td>
                                            <td>
                                                @item.ordenFecha.ToShortTimeString()
                                            </td>
                                            <td>
                                               @Html.formatoPrecio(item.ordenTotal)
                                            </td>
                                            <td>
                                                @item.ordenEstadoPedido
                                            </td>
                                            <td>
                                                @item.ordenTipoPago
                                            </td>
                                            <td>@item.ordenPagado</td>
                                            <td>
                                                <a href="#">Detalle</a>
                                            </td>
                                        </tr>
                                    }*@
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- end widget content -->

                                    </div>
                                    <!-- end widget div -->

                                </div>
                            </article>
                        </div>
                        <div class="row">
                            <article class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-graficaPastelMediosPedidos" data-widget-editbutton="false">
                                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                        -->
                                    <header>
                                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                        <h2>Medios y estados de pedidos</h2>

                                    </header>

                                    <!-- widget div-->
                                    <div>

                                        <!-- widget edit box -->
                                        <div class="jarviswidget-editbox">
                                            <!-- This area used as dropdown edit box -->

                                        </div>
                                        <!-- end widget edit box -->
                                        <!-- widget content -->
                                        <div class="widget-body no-padding">
                                            <div id="graficaPastelMedios" class="col-lg-12" style="height:400px;"></div>
                                            
                                        </div>
                                        <!-- end widget content -->

                                    </div>
                                    <!-- end widget div -->

                                </div>
                            </article>
                            <article class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-graficaPastelMetodosPedidos" data-widget-editbutton="false">
                                    <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

            -->
                                    <header>
                                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                        <h2>Estatus de pedidos </h2>

                                    </header>

                                    <!-- widget div-->
                                    <div>

                                        <!-- widget edit box -->
                                        <div class="jarviswidget-editbox">
                                            <!-- This area used as dropdown edit box -->

                                        </div>
                                        <!-- end widget edit box -->
                                        <!-- widget content -->
                                        <div class="widget-body no-padding">
                                            <div id="graficaPastel" class="col-lg-12" style="height:400px;"></div>

                                        </div>
                                        <!-- end widget content -->

                                    </div>
                                    <!-- end widget div -->

                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.datatables.net/buttons/1.0.3/js/dataTables.buttons.min.js"></script>

    <script src="~/Areas/Administrador/PlugIns/HighStock/highstock.js"></script>
    <script src="~/Areas/Administrador/PlugIns/HighStock/exporting.js"></script>
    <script src="http://code.highcharts.com/highcharts-3d.js"></script>
    <script>
        var getConfig = function () {
            $.get("/Administrador/Pedidos/VolumenVentas", function (d) {
                //console.log(d);
                //Se modifico para traer listas de series

                var series = [];
                $.each(d.series, function (i, e) {
                    console.log(e);
                    series.push({
                        name: e.name,
                        data: e.data,
                        tooltip: {
                            valueDecimals: 2
                        }
                    });
                });
                //console.log(series);
                $('#container').highcharts("StockChart", {

                    rangeSelector: {
                        selected: 5
                    },

                    title: {
                        text: d.title.text
                    },
                    series: series
                    //series: [{
                    //    name: d.series.name,
                    //    data: d.series.data,
                    //    tooltip: {
                    //        valueDecimals: 2
                    //    }
                    //}]
                });
            });
        }
        var getConfigPastel = function () {
            $.get("/Administrador/Pedidos/Estados", function (d) {
                var series = [];
                $.each(d.series, function (i, e) {
                    series.push({
                        name: e.name,
                        data: e.data,
                        tooltip: {
                            valueDecimals: 2
                        }
                    });
                });
                $('#graficaPastel').highcharts({
                    chart: d.chart,
                    chart: {
                        type: 'pie',
                        //options3d: {
                        //    enabled: true,
                        //    alpha: 45
                        //}
                    },
                    title: d.title,
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',

                            //innerSize: 50,
                            //depth: 20,
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            },
                        }
                    },
                    series: series
                });
            });
        }
        var getConfigPastelMedios = function () {
            $.get("/Administrador/Pedidos/TiposPago", function (d) {
                
                var colors = Highcharts.getOptions().colors;
                var pagosData = [];
                var estadosData = [];
                var brightness;
                var pagosLen = d.series[0].data.length;
                for (var i = 0; i < pagosLen; i++) {
                    pagosData.push({
                        name: d.categorias[i],
                        y: d.series[0].data[i].y,
                        color: colors[i]
                    });
                    var dataDrillLength = d.series[0].data[i].drillDown.data.length;
                    for (var j = 0; j < dataDrillLength; j++) {
                        brightness = 0.2 - (j / dataDrillLength) / 5;
                        estadosData.push({
                            name: d.series[0].data[i].drillDown.categories[j],
                            y: d.series[0].data[i].drillDown.data[j],
                            color: Highcharts.Color(pagosData[i].color).brighten(brightness).get(),
                        });
                    }
                }
                $('#graficaPastelMedios').highcharts({
                    //chart: d.chart,
                    chart: {
                        type: 'pie',
                        //options3d: {
                        //    enabled: true,
                        //    alpha: 45
                        //},
                    },
                    title: d.title,
                    subtitle: {
                        text: 'Medios de pago utilizados y distribución de estatus de pedidos'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            shadow: false,
                            center: ['50%', '50%'],
                            //allowPointSelect: true,
                            cursor: 'pointer',
                            //point: {
                            //    events: {
                            //        click: function (event) {
                            //            $("#medios").fadeOut();
                            //            var options = this.options;
                            //            var medio = event.currentTarget.name;
                            //            console.log(medio);
                            //            $("#contenedorMedios").load("/Administrador/Pedidos/MediosFiltro/?medio=" + medio, function () {
                            //                var tableFiltroMedio = $('.pedidosFiltroMedio').DataTable({
                            //                    "language": {
                            //                        "sProcessing": "Procesando...",
                            //                        "sLengthMenu": "Mostrar _MENU_ registros",
                            //                        "sZeroRecords": "No se encontraron resultados",
                            //                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                            //                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            //                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            //                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            //                        "sInfoPostFix": "",
                            //                        "sSearch": "Buscar:",
                            //                        "sUrl": "",
                            //                        "sInfoThousands": ",",
                            //                        "sLoadingRecords": "Cargando...",
                            //                        "oPaginate": {
                            //                            "sFirst": "Primero",
                            //                            "sLast": "Último",
                            //                            "sNext": "Siguiente",
                            //                            "sPrevious": "Anterior"
                            //                        },
                            //                        "buttons": {
                            //                            "copyTitle": 'Tabla copiada',
                            //                            "copyInfo": {
                            //                                _: '%d Filas copiadas',
                            //                                1: '1 fila copiada'
                            //                            },
                            //                            'copy': 'Copiar',
                            //                            'excel': 'Exportar a excel',
                            //                            "colvis": "Columnas visibles"
                            //                        },

                            //                        "oAria": {
                            //                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            //                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            //                        }
                            //                    },

                            //                });
                            //                $("#medios").fadeIn();
                            //            });

                            //        }
                            //    }
                            //},
                            //innerSize: 100,
                            //depth: 50,
                            //dataLabels: {
                            //    enabled: true,
                            //    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            //    style: {
                            //        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            //    }
                            //},


                        },
                        //startAngle: -90,
                        //endAngle: 90,
                        //center: ['50%', '75%']
                    },
                    series: [
                        {
                            size: '60%',
                            dataLabels: {
                                formatter: function () {
                                    return this.y > 5 ? this.point.name : null;
                                },
                                color: '#ffffff',
                                distance: -30
                            },
                            name: "Tipos de pago",
                            data: pagosData,
                        },
                        {
                            size: '80%',
                            innerSize: '60%',
                            name: "Estado de pedidos",
                            data: estadosData,
                            dataLabels: {
                                formatter: function () {
                                    // display only if larger than 1
                                    return this.y > 1 ? '<b>' + this.point.name + ':</b> ' + this.y + '%' : null;
                                }
                            }
                        },


                    ]
                });
            });
        }
        Highcharts.setOptions({
            lang: {
                months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                weekdays: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
                downloadJPEG: 'Descargar archivo jpg',
                downloadPDF: 'Descargar PDF',
                printChart: "Imprimir grafica",
                rangeSelectorTo: "A",
                rangeSelectorFrom: "De",
                downloadPNG: "Descargar PNG",
                downloadSVG: "Descargar SVG",
            },
        });
        $('#graficaPastel').highcharts("StockChart", getConfigPastel());
        $('#graficaPastelMedios').highcharts("StockChart", getConfigPastelMedios());
        $('#container').highcharts("StockChart", getConfig());
        $("#gEstados").click(function () {

            var pastel = $('#graficaPastel').highcharts();
            $('#modalGraficasPastel').on('show.bs.modal', function () {
                $('#graficaPastel').css('visibility', 'hidden');
            });
            $('#modalGraficasPastel').on('shown.bs.modal', function () {
                $('#graficaPastel').css('visibility', 'initial');
                pastel.reflow();
            });
        });
        $("#gPagos").click(function () {

            var pastel = $('#graficaPastelMedios').highcharts();
            $('#modalGraficasPastelMedios').on('show.bs.modal', function () {
                $('#graficaPastelMedios').css('visibility', 'hidden');
            });
            $('#modalGraficasPastelMedios').on('shown.bs.modal', function () {
                $('#graficaPastelMedios').css('visibility', 'initial');
                pastel.reflow();
            });
        });
        /* BASIC ;*/
        var responsiveHelper_dt_basic = undefined;
        var responsiveHelper_datatable_fixed_column = undefined;
        var responsiveHelper_datatable_col_reorder = undefined;
        var responsiveHelper_datatable_tabletools = undefined;

        var breakpointDefinition = {
            tablet: 1024,
            phone: 480
        };

        var table = $('#pedidos').DataTable({

            "autoWidth": true,
            "preDrawCallback": function () {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper_dt_basic) {
                    responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#pedidos'), breakpointDefinition);
                }
            },
            "sDom": "<'dt-toolbar'<'col-xs-4' l><'col-xs-12 col-sm-4'f><'col-sm-4 col-xs-6 hidden-xs'T>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
            "oTableTools": {
                "aButtons": [
                "csv",
                "xls",
                   {
                       "sExtends": "pdf",
                       "sTitle": "SmartAdmin_PDF",
                       "sPdfMessage": "Exportar pdf",
                       "sPdfSize": "letter",
                       "sButtonText": "Pdf"
                   },
                   {
                       "sExtends": "copy",
                       "sButtonText": "Copiar"
                   }
                ],
                "sSwfPath": "/Content/Temas/SmartAdmin/js/plugin/datatables/swf/copy_csv_xls_pdf.swf"
            },
            "rowCallback": function (nRow) {
                responsiveHelper_dt_basic.createExpandIcon(nRow);
            },
            "drawCallback": function (oSettings) {
                responsiveHelper_dt_basic.respond();
            },
            "language": dataTableLang,
            "bAutoWidth": false,
            "bServerSide": true,
            "sAjaxSource": "/Administrador/Pedidos/PedidosJson",
            "bProcessing": true,
            "aoColumns": [
              {
                  "sName": "idOrden",
              },
              { "sName": "cliente" },
              { "sName": "ordenFecha" },
              { "sName": "ordenHora" },
              { "sName": "ordenTotal" },
              { "sName": "ordenEstadoPedido" },
              { "sName": "ordenTipoPago" },
              { "sName": "ordenPagado" },
              {
                  "sName": "ordenDetalle", "bSearchable": false,
                  "bSortable": false,
              }

            ]
        });

        //table.buttons().container().appendTo($('.col-sm-6:eq(0)', table.table().container()));
    </script>
}