@model PymeTamFinal.Modelos.ModelosDominio.Cliente
@{
    ViewBag.Title = "Mis Datos";
    Layout = "~/Views/Shared/_LayoutTienda.cshtml";
}

<div class="section">
    <div class="container">
        <div class="col-sm-3">
            <div class="left-sidebar">
                <div class="brands_products">
                    <!--brands_products-->
                    <h2>Menu</h2>
                    <div class="brands-name">
                        @{Html.RenderAction("MenuAdmCliente", "TiendaWidgets");}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            @using (Html.BeginForm("CapturaCliente", "Clientes", new { returnUrl = ViewBag.returnUrl }, FormMethod.Post))
            {

                <div class="row">
                    <div class="col-sm-12">
                        @if (Model.idCliente != 0)
                        {
                        @Html.HiddenFor(a => a.idCliente)
                        }
                        @Html.HiddenFor(a => a.idAsp)
                        @Html.HiddenFor(a => a.datosCapturados)
                        @Html.HiddenFor(a => a.facturacionCapturada)


                        <div class="formularioUno">
                            <div class="bill-to">
                                <p>Datos de cliente</p>
                            </div>
                            <label>Nombre de usuario</label>
                            @Html.TextBoxFor(a => a.nombreUsuario, new { placeHolder = "Nombre de usuario *" })
                            @Html.ValidationMessageFor(a => a.nombreUsuario)
                            <label>Nombre</label>
                            @Html.TextBoxFor(a => a.nombre, new { placeHolder = "Nombre *" })
                            @Html.ValidationMessageFor(a => a.nombre)
                            <label>Primer apellido</label>
                            @Html.TextBoxFor(a => a.apPaterno, new { placeholder = "Primer Apellido *" })
                            @Html.ValidationMessageFor(a => a.apPaterno)
                            <label>Segundo apellido</label>
                            @Html.TextBoxFor(a => a.apMaterno, new { placeholder = "Segundo Apellido" })
                            @Html.ValidationMessageFor(a => a.apMaterno)

                            <label>Telefono</label>
                            @Html.TextBoxFor(a => a.telefono, new { placeholder = "Telefono *" })
                            @Html.ValidationMessageFor(a => a.telefono)
                            <label>Edad</label>
                            @Html.TextBoxFor(a => a.edad, new { placeholder = "Edad", type = "number" })

                        </div>
                        <div class="formularioDos">
                            <div class="bill-to">
                                <p>Información de ubicación</p>
                            </div>
                            <label>País</label>
                            @Html.DropDownList("idPais", (IEnumerable<SelectListItem>)ViewBag.paises, new { @class = "idPais" })
                            <label>Estado</label>
                            @Html.DropDownList("idEstado", (IEnumerable<SelectListItem>)ViewBag.estados)
                            <label>Ciudad, municipio o delegación</label>
                            @Html.TextBoxFor(a => a.ciudad, new { placeHolder = "Ciudad o Provincia" })
                            <label>Dirección de envió linea uno</label>
                            @Html.TextBoxFor(a => a.direccionEnvioLinea1, new { placeholder = "Dirección linea 1 *" })
                            @Html.ValidationMessageFor(a => a.direccionEnvioLinea1)
                            <label>Dirección de envió linea dos</label>
                            @Html.TextBoxFor(a => a.direccionEnvioLinea2, new { placeholder = "Dirección linea 2" })
                            <label>Codigo postal</label>
                            @Html.TextBoxFor(a => a.cp, new { placeholder = "Codigo postal" })
                            @Html.ValidationMessageFor(a => a.cp)
                        </div>




                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="formularioUno">
                            <div class="bill-to">
                                <p>Información de facturación (Opcional)</p>
                            </div>
                            <label>Razón social</label>
                            @Html.TextBoxFor(a => a.razonSocial, new { placeHolder = "Razón social" })
                            <label>Dirección de facturación linea uno</label>
                            @Html.TextBoxFor(a => a.direccionFacturacionLinea1, new { placeHolder = "Dirección de facturación linea 1" })
                            <label>Dirección de facturación linea dos</label>
                            @Html.TextBoxFor(a => a.direccionFacturacionLinea2, new { placeHolder = "Dirección de facturación linea 2" })
                            <label>RFC</label>
                            @Html.TextBoxFor(a => a.rfc, new { placeHolder = "RFC" })



                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </div>
            }
        </div>


    </div>
</div>
@section Scripts {
    <script>
        $("body").on("change", ".idPais", function () {
            var id = $(this).val();
            var $estados = $("#idEstado");
            $.get("/Clientes/cargaEstados/" + id, function (data) {
                $estados.empty();
                console.log(data);
                $.each(data, function (i, d) {
                    console.log(d);
                    $estados.append("<option value=" + d.idEstado + ">" + d.nombreEstado + "<option>");
                });
                //Limpia los valores vacios
                $("#idEstado option").filter(function () {
                    return !this.value || $.trim(this.value).length == 0;
                })
                .remove();
            });
        });
    </script>
}