@model IEnumerable<PymeTamFinal.Modelos.ModelosVista.ProductoListaViewModel>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    @Html.imagen(item.imagen,null,350,350,true)
                    <h2>@Html.formatoPrecio(item.precio)</h2>
                    @{ Html.RenderPartial("_botonCompraRapido",item);}
                </div>
                <div class="product-overlay">
                    <div class="overlay-content">
                        <h1>@item.nombreProducto</h1>
                        <h2>@Html.formatoPrecio(item.precio)</h2>
                        <p>@item.descCorta</p>
                        @{ Html.RenderPartial("_botonCompraRapido", item);}
                    </div>
                </div>
            </div>
        </div>
    </div>
}
