@model IEnumerable<PymeTamFinal.Modelos.ModelosVista.ProductoListaViewModel>
@{ Layout = null;}
    <div class="features_items">
        <!--features_items-->
        <h2 class="title text-center">Más Productos</h2>
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            @Html.imagen(item.imagen, new string[] { "imgPers" }, 350,350, true)
                            @*<img src="@Url.Content(item.imagen + "?w=350&h=350")" alt="">*@
                            <h2>@Html.formatoPrecio(item)</h2>
                            <p>
                                @Html.generarEstrellasCalif(item.calificacionProm)
                            </p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Agregar al carro</a>
                            <a href="@Url.Action("DetalleProducto", "Tienda", new { id=item.idProducto,slug=item.slug })" class="btn btn-default add-to-cart"><i class="fa fa-search-plus"></i>Detalles</a>
                        </div>
                        <div class="product-overlay">
                            <div class="overlay-content">
                                <h1>@item.nombreProducto</h1>
                                <h2>$@item.precio</h2>
                                <p>@item.descCorta</p>
                                @{ Html.RenderPartial("_botonCompraRapido", item);}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div><!--features_items-->

