@model IEnumerable<PymeTamFinal.Modelos.ModelosVista.ProductoListaViewModel>
@{ Layout = null;
    string _c = string.Empty;
    int c = 0;
}
<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Novedades</h3>
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    @*<ol class="carousel-indicators">
                            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#slider-carousel" data-slide-to="1"></li>
                            <li data-target="#slider-carousel" data-slide-to="2"></li>
                        </ol>*@
                    <div class="carousel-inner">
                        @foreach (var p in Model)
                        {
                            if (c == 0)
                            {
                                _c = "active";
                            }
                            else { _c = ""; }
                            <div class="item @_c">
                                <div class="col-sm-6">
                                    <h1>@p.nombreProducto</h1>
                                    <p>@p.descCorta</p>
                                    <a href="@Url.Action("DetalleProducto", "Tienda", new { id=p.idProducto,slug=p.slug})" class="btn btn-default get">Ver Producto</a>
                                </div>
                                <div class="col-sm-6">
                                    @Html.imagen(p.imagen, null, 400, 400)
                                    @*<img src="@Url.Content(p.imgProducto+"?w=400&h=400")" class="girl img-responsive" alt="" />*@
                                </div>
                            </div>
                            c = c + 1;
                        }
                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->
