@model PymeTamFinal.Modelos.ModelosDominio.CostosEnvio
@{ Layout = null;}
@using (Ajax.BeginForm("AgregarEnvio","CostosEnvio",new AjaxOptions { HttpMethod="Post",OnSuccess="metodoGuardado(data)" }))
{
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Nuevo metodo de envio</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8 form-group">
                        <label class="control-label">
                            Nombre del metodo de envio
                        </label>
                        @Html.TextBoxFor(a => a.nombreMetodoEnvio, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a=>a.nombreMetodoEnvio)
                    </div>
                    <div class="col-lg-4 form-group">
                        <label class="control-label">
                            Costo (MXN)
                        </label>
                        @Html.TextBoxFor(a => a.costo, new { @class = "form-control", type = "number" })
                        @Html.ValidationMessageFor(a => a.costo)
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 form-group">
                        <label class="control-label">
                            Condiciones
                        </label>
                        @Html.TextAreaFor(a => a.detalle, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.detalle)
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")