@model PymeTamFinal.Modelos.ModelosVista.DetalleEnvioViewModel
@{ Layout = null;}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">¿Desea eliminar este metodo de envió?</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <h3>@Model.costoEnvio.nombreMetodoEnvio</h3>
                    <h3>Costo</h3>
                    <p>$ @Model.costoEnvio.costo MXN</p>
                    <h3>Detalles</h3>
                    <p>@Model.costoEnvio.detalle</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr />
                    <h3>Estados con el metodo de envió implementado</h3>
                    <table class="ciudades table table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    #Id
                                </th>
                                <th>
                                    Estado
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.estados)
                            {
                                <tr>
                                    <td>
                                        @item.idEstado
                                    </td>
                                    <td>@item.nombreEstado</td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                    <p class="help-block">
                        *Las ciudades no seran eliminadas.
                    </p>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            @Ajax.ActionLink("Eliminar", "Eliminar", new
       { id=Model.costoEnvio.idEnvio }, new AjaxOptions()
       {
           HttpMethod = "GET",
           OnSuccess = "metodoGuardado(data)"
       }, new { @class="btn btn-danger" })
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>
