@model PymeTamFinal.Modelos.ModelosVista.CategoriaAdminEliminaViewModel
@{ 
    Layout = null;
}
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">¿Desea eliminar la categoria @Model.categoria.nombreCategoria?</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h4>Categorias que dependen directamente de esta categoria</h4>
                        <table class="dependientes table table-responsive">
                            <thead>
                                <tr>
                                    <th>
                                        #id de Categoria
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        #id de Padre
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.hijos)
                            {
                                <tr>
                                    <td>
                                        @item.idCategoria
                                    </td>
                                    <td>
                                        @item.nombreCategoria
                                    </td>
                                    <td>
                                        @item.idPadre
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("EliminarCategoria","Categorias", new { id=Model.categoria.idCategoria })" class="btn btn-danger">Eliminar</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
