@model PymeTamFinal.Modelos.ModelosVista.CarroDetalleViewModel
@{
    ViewBag.Title = "Mi Carro";
    Layout = "~/Views/Shared/_LayoutTienda.cshtml";
}
<section id="cart_items">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Carrito de Compras</h3>
                @if (ViewBag.estadoCupon != null)
                {
                    <div class="alert alert-info">
                        @ViewBag.estadoCupon
                    </div>
                }
                @{Html.RenderPartial("_carrito", Model);}
            </div>
        </div>
    </div>
</section>
<section id="do_action">
    <div class="container">

        <div class="heading">
            <h3>Opciones</h3>
            <p>Si cuenta con un cupón de descuento puede utilizarlo en este formulario.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="chose_area">
                    <ul class="user_option">
                        <li>
                            <label>Usar cupón de descuento</label>
                            @using (Html.BeginForm("AgregarCupon", "MiCarro", FormMethod.Post))
                            {
                                <input type="text" name="cupon" class="form-control col-lg-6"><br />
                                <input class="btn btn-primary" value="Aplicar Cupón" type="submit" />
                                <p class="help-block">*Algunos de los cupones de descuento son de un solo uso</p>
                                <p class="help-block">*Solo se puede aplicar un cupón de descuento por compra</p>
                                <p class="help-block">*Los cupones no afectan el costo del envio</p>
                            }

                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li id="desc">
                            Descuento
                            @if (ViewBag.descuento != null)
                            {
                                <span>@Html.determinaDescuento((decimal)ViewBag.descuento)</span>
                            }
                            else
                            {
                                <span>
                                    Sin descuento.
                                </span>
                            }
                        </li>
                        <li class="subTotal" id="subTotal">Sub Total (Carrito) <span>@Html.formatoPrecio(Model.subTotal)</span></li>
                        @if (ViewBag.descuento != null)
                        {
                            <li id="totalAll">Total (Carrito) <span>@Html.formatoPrecioTotal(Model.total, (decimal)ViewBag.descuento)</span></li>
                        }
                        else
                        {
                            <li id="totalAll">Total (Carrito) <span>@Html.formatoPrecio(Model.total)</span></li>
                        }

                    </ul>
                    <a class="btn btn-default update" href="@Url.Action("Index","Tienda")">Seguir comprando</a>
                    <a class="btn btn-default check_out" href="@Url.Action("Comprar","MiCarro", new { cupon = ViewBag.cupon })">Ver resumen del pedido y comprar</a>
                </div>
            </div>
        </div>

        <div id="metodos" class="row" style="display:none;">
            <div class="col-lg-12">
                <h3 class="text-center">Seleccione el metodo de pago</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <a class="btn btn-info btn-block btn-lg pull-right text-center paypal"><span class="fa fa-adjust fa-cc-paypal"></span> PayPal</a>
                    </div>
                    <div class="col-lg-6">
                        <a class="btn btn-success btn-block btn-lg pull-right text-center deposito"><span class="fa fa-adjust fa-credit-card"></span> Deposito bancario</a>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>

</section>
@*<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="collapse" id="colapse">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @if (Model.items.Any())
                {
                    <div class="pull-right">
                        <h3 id="totalAll">Total: $@Model.total.ToString("#.##") MXN</h3>
                        @if (ViewBag.descuento < 0)
                        { <span id="desc">Cupon aplicado: @ViewBag.descuento MXN</span> }
                    </div>

                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a class="btn btn-default pull-right btn-lg disabled" id="btnPago" href="@Url.Action("Comprar","Carrito", new { Area="Tienda" })">Comprar</a>
            </div>
        </div>
    </div>*@
@section Scripts{
    <script>
        $(function () {
            //$("#envio").change(function () {
            //    var id = $(this).val();
            //    if (id == 0) {
            //        $("#metodos").fadeOut();
            //        return false;
            //    }
            //    $.post("/Tienda/Carrito/AplicaEnvio", { envio: id }, function (d) {
            //        $("#totalAll").text("Total: $" + d.totalCompleto + " MXN");
            //        $(".detalles").text("");
            //        $(".detalles").append("<h3>Detalles</h3>" + "<p>" + d.detalles + "</p>");
            //        if (id > 0) {
            //            $("#metodos").fadeIn();
            //        }
            //        else {
            //            $("#metodos").fadeOut();
            //        }
            //    }).error(function () {
            //        $("#metodos").fadeOut();
            //    });

            //});
            var agregarMas = function (id) {
                $.get("/MiCarro/Agregar/" + id, function (d) {
                    var cantidad = $("#cantidad_" + id);
                    $("#desc").text("");
                    $("#desc").append(d.descuento);
                    $("#totalAll").text("");
                    $("#totalAll").append("Total (Carrito) <span>" + d.totalCompleto + "</span>");
                    $("#totalRecord_" + id).text(d.totalRecord);
                    $(".subTotal").text("");
                    $(".subTotal").append("Sub Total (Carrito) <span>" + d.subTotal + "</span>");
                    cantidad.val(d.total);
                });
            }
            var quitar = function (id) {
                $.get("/MiCarro/Eliminar/" + id, function (d) {
                    var cantidad = $("#cantidad_" + id);
                    $("#desc").text("");
                    $("#desc").append(d.descuento);
                    $("#totalAll").text("");
                    $("#totalAll").append("Total (Carrito) <span>" + d.totalCompleto + "</span>");
                    $("#totalRecord_" + id).text(d.totalRecord);
                    $(".subTotal").text("");
                    $(".subTotal").append("Sub Total (Carrito) <span>" + d.subTotal + "</span>");
                    cantidad.val(d.total);
                    //$("#totalAll").text("Total: " + d.totalCompleto + " MXN");
                    //$("#totalRecord_" + id).text("$" + d.totalRecord + " MXN");
                    //$("#desc").text("Cupon aplicado: " + d.descuento + " MXN");
                    //$("#subTotal").text("SubTotal: $" + d.subTotal + " MXN");
                    //var cantidad = $("#cantidad_" + id);
                    if (d.total == 0) {
                        var tr = $("#fila_" + id);
                        tr.fadeOut();
                    }
                    else {
                        cantidad.val(d.total);
                    }

                });
            }
            var eliminarTodo = function (id) {
                $.get("/MiCarro/EliminarRecord/" + id, function (d) {
                    var tr = $("#fila_" + id);
                    var cantidad = $("#cantidad_" + id);
                    $("#desc").text("");
                    $("#desc").append(d.descuento);
                    $("#totalAll").text("");
                    $("#totalAll").append("Total (Carrito) <span>" + d.totalCompleto + "</span>");
                    $("#totalRecord_" + id).text(d.totalRecord);
                    $(".subTotal").text("");
                    $(".subTotal").append("Sub Total (Carrito) <span>" + d.subTotal + "</span>");
                    cantidad.val(d.total);
                    tr.fadeOut();
                })
            }
            $("body").on("click", ".cantidad_mas", function () {
                var id = $(this).data("id");
                agregarMas(id);
            });
            $("body").on("click", ".cart_quantity_delete", function () {
                var id = $(this).data("id");
                eliminarTodo(id);
            });
            $("body").on("click", ".cantidad_menos", function () {
                var id = $(this).data("id");
                quitar(id);
            });
        })
    </script>
}