@model PymeTamFinal.Modelos.ModelosDominio.Banco
@{

    Layout = null;
}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">¿Desea eliminar este banco?</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-6">
                    <h3>@Model.bancoNombre</h3>
                    @Html.imagen(Model.bancoImagen, null, 100, 100)

                </div>
                <div class="col-lg-6">
                    <h3>Detalles</h3>
                    <div class="row">
                        <div class="col-lg-12">

                            <label>
                                Numero de convenio : @Model.bancoNConvenio
                            </label>
                            <br />
                            <label>
                                Referencía : @Model.bancoReferencia
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="@Url.Action("Eliminar", "Bancos",new { id = Model.bancoId})" class="btn btn-danger">Eliminar</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>